@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
pre
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "IRAN-B";
}

@font-face {
  font-family: "IRAN-B";
  src: url("assets/fonts/IRANSansXFaNum-Bold.woff2") format("woff2");
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

@font-face {
  font-family: "IRAN-R";
  src: url("assets/fonts/IRANSansXFaNum-Regular.woff2") format("woff2");
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

@layer utilities {
  .shadow-around {
    --shadow: 0px 2px 14px #0000001a;
    box-shadow: var(--ring-offset-shadow, 0 0 #0000),
      var(--ring-shadow, 0 0 #0000), var(--shadow);
  }

  .dark .shadow-around {
    --shadowdark: 0px 2px 14px #377DFF3a;
    box-shadow: var(--ring-offset-shadow, 0 0 #0000),
      var(--ring-shadow, 0 0 #0000), var(--shadowdark);
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html.dark .scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

html.dark .scrollbar-custom::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

html.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background: #333333;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

html.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #464646;
}